<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
    <behaviors>
      <endpointBehaviors>
        <!--增加一个证书验证-->
        <behavior name="mye">
          <clientCredentials>
            <!--其实这里findvalue的证书填写TestServer也可以，没有作验证只要有一个证书就行-->
            <clientCertificate  findValue="YxClient" storeName="My"  storeLocation="LocalMachine"
                                  x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>