<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBasicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2446/BasicService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBasicService" contract="BasicService.IBasicService"
                name="BasicHttpBinding_IBasicService" />
        </client>
    </system.serviceModel>
</configuration>