<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBasicService">
          <security mode="Message">
            <transport realm=""/>
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2446/BasicService.svc" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IBasicService" contract="ServiceReference1.IBasicService"
          name="WSHttpBinding_IBasicService" behaviorConfiguration="mye" >
        <identity>
          <certificate encodedValue=""/>
          <dns value="YxServer" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <!--增加一个证书验证-->
        <behavior name="mye">
          <clientCredentials>
            <!--其实这里findvalue的证书填写TestServer也可以，没有作验证只要有一个证书就行-->
            <clientCertificate  findValue="YxClient" storeName="My"  storeLocation="LocalMachine"
                                  x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>